* {
  padding: 0;
  margin: 0;
  background-color: #D9D7D7;
}

h3.H3 {
  color: #402C33;
  font-family: "Oldenburg", cursive;
  background-color: transparent;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  font-size: 20px;
  font-family: "Bentham", serif;
}

div.card {
  background-color:   #8d824100;
  color: red;
}

h5.card-title {
  color: #462907;
  font-family: "IM Fell DW Pica SC", serif;
}

p.card-text 
{
  color: #062744;
  font-family: "Suravaram", serif;
}

div.footer{
  background:#BF5E70;
}
.footer > h3{
  margin-top: 0%;
}
.Alumn {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.5s;
}

.box > .imgBx {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

}

.box > img {
  
  max-width: 100%;
  opacity: 0;
  transition: 0.5s;
  
}

img:hover {
  opacity: 1;
}


div.cont > h2 {
  color: rgb(77, 22, 78);
  font-family: "Oldenburg", cursive;
  background-color: transparent;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2>span{
  color: rgb(141, 33, 19);
}
